.Header {
  display: flex;
  flex-wrap: wrap;
}
.Header .Navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0.5rem 1.25rem;
  width: -webkit-fill-available !important;
  max-width: 100%;
}
.Header .Navbar a {
  text-decoration: none;
  opacity: 0.75;
  color: #fbfbfb;
  border: 2px solid rgba(193, 179, 179, 0.0588235294);
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 50%;
}
.Header .Navbar a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Header .Navbar a:is(:hover, :active, :focus) {
  opacity: 1;
}
.Header .HeroSection {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.25rem;
  text-align: center;
}
.Header .HeroSection .StudentName {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2;
  word-wrap: break-word;
  background: linear-gradient(to right, #3282b8, #0059b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.Header .HeroSection .brief {
  font-size: 1.2em;
  font-weight: 500;
  word-spacing: 3px;
}
.Header .HeroSection .brief span {
  text-transform: uppercase !important;
}
.Header .HeroSection .cgpi {
  font-size: 1.25em;
}

.Switch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;
}
.Switch span {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: 0.5rem;
}

.Semesters {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 2rem;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .Semesters {
    gap: 1rem;
  }
}
.Semesters .SemCard {
  animation: pop 0.2s forwards;
  opacity: 0;
  padding: 0.5em;
  box-shadow: 0 15px 35px rgba(55, 65, 81, 0);
  width: auto;
  position: relative;
  max-width: 25rem;
  width: 100%;
}
.Semesters .SemCard::before {
  content: attr(data-index);
  position: absolute;
  font-size: 4rem;
  top: -2rem;
  left: 1rem;
  background: linear-gradient(to right, #0b62b3, #a4acff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
@media (max-width: 576px) {
  .Semesters .SemCard {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .Semesters .SemCard {
    width: 45%;
    min-width: 25rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .Semesters .SemCard {
    width: 40%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .Semesters .SemCard {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .Semesters .SemCard {
    width: 30%;
  }
}
.Semesters .SemCardHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid #374151;
  column-gap: 1.75rem;
  padding: 0.75rem 1rem;
}
.Semesters .SemCardHeader h2 {
  margin-left: -0.5rem;
}
.Semesters .SemCardHeader .points {
  font-size: 0.7em;
  margin-right: 0.5rem;
  padding: 0.25rem;
}
.Semesters .SemCardHeader .cgpi {
  font-size: 0.9em;
}
.Semesters .SemCardHeader .points {
  font-size: 0.7rem;
}
.Semesters .subjectList {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.Semesters .subjectList .Subject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.9em;
  vertical-align: middle;
  opacity: 0.9;
}
.Semesters .subjectList .Subject:not(:last-child) {
  border-bottom: 1px solid #374151;
}

@keyframes pop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}/*# sourceMappingURL=component.module.css.map */