$xs:0;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;

.Navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    text-align: center;
    border-bottom: 1px solid #494c5033;

    .navBrand {
        margin-right: auto;
        font-size: 2.25em;
        font-weight: 700;
        letter-spacing: 2px;
        word-wrap: break-word;
        background: linear-gradient(to right, #3282b8, #0059b2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #0000;
    }

    .userArea {
        position: relative;
        margin-left: auto;



        .userProfile {
            border-radius: 50%;
            padding: 0.45rem 0.5rem;
            cursor: pointer;
        }

        .userProfileCard {
            position: absolute;
            top: 100%;
            right: 50%;
            transform: translateY(-10px);
            opacity: 0;
            visibility: hidden;
            transition: all 500ms ease-in-out;
            z-index: 99;

            &.isOpen {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }

            padding: 0.5rem 0.25rem;
            background-color: #1b1f29;
            color:#fbfbfb;
            background-clip: border-box;
            border-radius: 0.5rem;
            box-shadow: 0 15px 35px rgb(55 65 81 / 10%),
            0 5px 15px rgb(55 65 81 / 10%);
            display: flex;
            flex-direction: column;

            li {
                padding: 0.5rem 0.75rem;
                text-align: left;

                &:not(:first-child) {
                    border-top: 1px solid #494c5033;

                }
            }
        }
    }
}

.Header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    border-bottom: 1px solid #494c5033;

    .Title {
        font-size: 1.25em;
        margin-block: 0.75rem;
        font-weight: 700;
        letter-spacing: 2px;

    }


}

.FormContainer {
    padding-block: 1.75rem;
    text-align: center;

    form {
        max-width: 728px;
        width: calc(100% - 2rem);
        margin: 1rem auto;

        .FormTitle {
            letter-spacing: 3px;
            font-size: 2.75em;

            background: linear-gradient(to right, #292e4d, #9fa6f7);
            -webkit-background-clip: text;
            -webkit-text-fill-color: #0000;
        }

        .FormSubmit {
            background: none;
            color: #9fa6f7;
            font-size: 1em;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 0.5rem 1.25rem;
            border-radius: 0.5rem;

            border: 3px solid #292e4d;
            cursor: pointer;
            transition: all 100ms ease-in-out;

            &:hover {
                background: #9fa6f7;
                color: #292e4d;
                border: 3px solid #9fa6f7;

            }
        }
    }
}

.Main {
    width: 100%;
    padding: 1rem;
    text-align: center;
}