.Navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    text-align: center;

    .navBrand {
        margin: auto;
        font-size: 2.25em;
        font-weight: 700;
        letter-spacing: 2px;
        word-wrap: break-word;
        background: linear-gradient(to right, #3282b8, #0059b2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: #0000;


    }
}

.Header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #494c5033;

    .Title {
        font-size: 0.85em;
        margin-bottom: 0.75rem;
        font-weight: 700;
        letter-spacing: 1px;

    }

    .searchSection {
        margin-inline: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .SearchBar {
            border-radius: 50px;
            max-width: 31.25rem;
            width: calc(100% - 1.5rem);
            padding: 0.75rem 1.25rem;
            margin-block: 2rem;

        }
    }
}

$xs:0;
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;

a {
    text-decoration: none;
    color: inherit;
}

.ResultSection {
    display: flex;
    column-gap: 1.25rem;
    row-gap: 1.75rem;
    padding: 0.75rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .ResultCard {
        position: relative;
        animation: pop 0.3s forwards;
        transition: all 1s ease-in-out !important;
        opacity: 0;
        flex: 1 1 auto;

        min-height: 7rem;

        @media (max-width: $sm) {
            width: 100%;
        }

        @media (min-width: $sm) and (max-width: $md) {
            width: 40%;
        }

        @media (min-width: $md) and (max-width: $lg) {
            width: 25%;
            max-width: 18rem;
        }

        @media (min-width: $lg) {
            width: 20%;
            max-width: 22rem;
        }

        .CardBody {
            padding: 0.75rem;
            z-index: 1;
        }

        &:hover {
            box-shadow: 0px 3px 12px 2px #0002;



        }

        .rank {

            color: #3282b8;
            font-weight: 500;
        }

        &:is([data-rank="1"], [data-rank="2"], [data-rank="3"])::before {
            position: absolute;
            top: -1.5rem;
            right: 18%;
            content: attr(data-rank);
            border-radius: 1rem;
            display: inline-block;
            font-size: 2.25em;
            font-weight: 600;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            text-transform: capitalize;
        }

        &[data-rank="1"]::before {
            color: #CDDC39;

        }

        &[data-rank="2"]::before {
            color: #9C27B0;

        }

        &[data-rank="3"]::before {
            color: #673AB7;

        }

        .Rank {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .Name {
            font-size: 1.1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-transform: uppercase;


        }

        .Info {
            display: flex;
            flex-wrap: wrap;
            font-size: .85em;

            span {
                display: inline-block;
                text-transform: uppercase;
                margin-right: 0.5rem;
                margin-bottom: 0.25rem;
            }
        }

        .minorInfo {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            column-gap: 0.25rem;
        }


    }

    @keyframes pop {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.Pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    column-gap: 0.75rem;

    .Badge {
        cursor: pointer;
        user-select: none;
        transition: all 250ms ease-in-out;

        &[disabled] {
            pointer-events: none;
            background: none;
        }
    }
}